body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../image/bg-dark.jpg');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
body{
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
.canvasSet {
    position: absolute;
    top: 0;
    left: 0;
} 
.btn-pos{
    position: absolute;
    width: 10vw;
    height: 18vh;
    right: 23vw;
    bottom: 15vh;
    background-color: rgba(255,255,60,0.5);
    border: none;
    cursor: pointer;
}
.d-none {
    display: none;
}
  /* Center the loader */
.loadering {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 160px;
    height: 160px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}
@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}